<html>
    <head>

        <title>Teste Users Count</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">


        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>

        <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

        <script src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>

        <script>

            $(document).ready(function() {

                var socket = io.connect('http://online-users.herokuapp.com:80', {
                    resource: "socket.io"
                });

                //notify
                socket.emit("notify-me");

                socket.on("notify", function(o){
                  var html = "";
                  html += '<p> Usuarios Unicos (IP): ' + o.count_ip + '</p>';
                  html += '<p> Paginas Aberta: ' + o.count_clients + '</p>';
                  $("#user_on").html(html);
                });
            });

        </script>
    </head>


    <body>

        <h1>Usuarios Online</h1>
        <pre id="user_on"></pre>
    </body>



</html>
